/**
 *
 * Custom CSS code for plugin admin panel
 *
 */

/* Space above the page */
.tx_wrap {
    margin-top: 20px;
}

/* Space above SMTP details form */
.tx_wrap form h1 {
    margin-bottom: 25px;
}

/* Adjusting banner heading font size */
.tx_wrap .jumbotron h1 {  
    font-size: 3.8rem;
}

/* Desktop viewport only */
@media only screen and (min-width: 992px) {
    /* Limiting form input widths */
    .tx_wrap form input[type="text"], .tx_wrap form input[type="password"], .tx_wrap form input[type="email"], .tx_wrap form input[type="number"] {
    	width: 540px;
    }

    /* Secure File Manager Mascots */
    form.sfm_wrapper {
        min-height: 440px;
    }

    .jumbotron {
        background-repeat: no-repeat;
        background-position: right 20px bottom;
        background-size: contain;
    }
}

